<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GadiCustomer"
        tools:targetApi="31">
        <activity
            android:name=".notify.Notification"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".payment.OrdersPlaced"
            android:exported="false" />
        <activity
            android:name=".payment.Payments"
            android:exported="false" />
        <activity
            android:name=".booking.BookingActvity"
            android:exported="false" />
        <activity
            android:name=".products.ProductDetails"
            android:exported="false" />
        <activity
            android:name=".products.Products"
            android:exported="false" />
        <activity
            android:name=".home.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".boaeding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>